 #app-search-box {
	#app-search-box-input {
		font-size: 18px;
		width:80%;
	}
	#app-search-btn {
		width: 10%;
		position: relative;
		top: -2px;
		margin-bottom: 10px;
	}
	.msg {
		display: inline-block;
		margin-bottom: 10px;
	}
	#app-mobile-optmization-checkbox {
		position: relative;
		top: 4px;
	}
}


@media only screen and (max-width: 700px){

	#app-search-box {
		#app-search-box-input,
		#app-search-btn {
			width: 100% ;
		}
	}
}
